@charset "UTF-8";

*{
    margin: 0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

:root{
    --cor1:#267365;
    --cor2:#F2CB05;
    --cor3:#F29F05;
    --cor4:#F28705;
    --cor5:#F23030;
}

header{
    height: 100px;
    width: 100%;
    background-color: var(--cor3);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    font-weight: 700;
}

header span{
    color: var(--cor1);
}

#button{
    padding: 10px;
    width: 94.7vw;
    height: 30px;
    text-align: center;
    background-color: var(--cor5);
    
}

menu{
    background-color: var(--cor5);   
    text-align: center;
}

menu ul{
    display: none;
}

menu li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid rgba(181, 162, 162, 0.349);
}

menu li:hover{
    background-color: var(--cor3);
    transition-duration: 0.5s;
}

menu a{
    text-decoration: none;
    color: black;
}

#button{    
    cursor: pointer;
}

main .descricao{
    height: 306px;
    background-color: gray;
    color: rgba(251, 251, 251, 0.679);
    background-image: url(../imagens/foto1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main .descricao h1{
    padding: 10px;
    font-weight: 700;
}

main .descricao p{
    padding: 10px;
    text-indent: 10px;
    text-align: center;
    font-weight: 100;
}

section footer{
    background-color: rgba(128, 128, 128, 0.994);
    margin-top: 21px;
}

#Final{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.94);
    color: white;
    border-top: 4px solid var(--cor5);
    text-align: center;
}

#Final h2{
    font-size: 1.3em;
}

#Informacoes{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#Informacoes a{
    text-decoration: none;
    font-weight: 30;
    color: white;
    
}

#redes{
    padding: 10px;
    border-top: 0.2px  solid white;
    border-bottom:0.2px solid white;
}

#redes ul{
    padding: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

#redes ul li a img{
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
}

#Localizacao{
    padding: 10px;
}

#Localizacao p{
    font-weight: 100;
}